{% extends "layout.html" %}

{% block content %}


<div class="text-center">

<div class="input-group col-md-2" style="height: 30px;">
      <input type="text" class="form-control" id="searchInput" placeholder="搜索" searchKey=''>
        <span class="input-group-btn">
          <button class="btn btn-primary" id="searchButton" type="button">搜索</button>
        </span>
</div>


</div>

<div id="result">

</div>

<div id="loading" style="">
  <p style="text-align: center;">拼命加载中...</p>
</div>

<script type="text/javascript">
  var p = 1
  var key = ""
  var loading = 0
  $("#loading").hide();
  
  window.onscroll = function(){

    if (loading == 0) {
      if($(document).height() < $(window).height() + $(window).scrollTop()) {
        if (p < 20) {
          p = p + 1;
          loadingMore()
        }else{

        };
      }
    }
  }

  function loadingMore() {
     key = $("#searchInput").val().trim();
      if (key.length == 0) {
        return;
      }
      $("#loading").show();
      loading = 1
      searchWithKey(key, p)
  }
    

  function search() {
      key = $("#searchInput").val().trim();
      if (key.length == 0) {
        alert("请输入搜索词");
        return;
      }
      loading = 1
      p = 1
      searchWithKey(key, p)
  }
  

  function searchWithKey(key, page) {
      if (p == 1) {
        waitingDialog.show('处理中...');
      }
      searchWords(key, page, function(data){
        if (p == 1) {
          waitingDialog.hide();
        }
        $('#result').append(data)
    });
  }

  $('#searchInput').on('keypress', function (e) {
       if(e.which === 13){
          search()
       }
   });

  $("#searchButton").on("click", function(){
      search();
  });

  function searchWords(searchKey, page, callback) {
        var params = {
        
        };
        // url = "/search/" + searchKey + "/page/" + page;
        url = "/classify/search/" + searchKey + "/page/" + p.toString()
        console.log(url)
        $.ajax({
            type: "GET",
            data: params,
            url: url,
            success: function(data) {
                loading = 0
                $("#loading").hide();
                console.log("成功");
                callback(data);
            },
            error: function(data) {
                $("#loading").hide();
                loading = 0
                waitingDialog.hide();
                $('#searchWordBody').html(data.responseText);
            },
            dataType: "html"
        });
    }
</script>

<script type="text/javascript">
  
</script>


{% endblock %}