{% extends "layout.html" %}

{% block content %}


<div class="text-center">

<div class="input-group col-md-2" style="height: 30px;">
      <input type="text" class="form-control" id="searchInput" placeholder="搜索" searchKey=''>
        <span class="input-group-btn">
          <button class="btn btn-primary" id="searchButton" type="button">搜索</button>
        </span>
</div>


</div>

<div id="result">

</div>

<script type="text/javascript">
  function search() {
      var key = $("#searchInput").val().trim();
      if (key.length == 0) {
        alert("请输入搜索词");
        return;
      }
      waitingDialog.show('处理中...');
      searchWords(key, function(data){
        waitingDialog.hide();
        $('#result').html(data);
    });
  }

  $('#searchInput').on('keypress', function (e) {
       if(e.which === 13){
          search()
       }
   });

  $("#searchButton").on("click", function(){
      search();
  });

  function searchWords(searchKey, callback) {
        var params = {
        
        };
        url = "/search/" + searchKey;
        $.ajax({
            type: "GET",
            data: params,
            url: url,
            success: function(data) {
                console.log("成功");
                callback(data);
            },
            error: function(data) {
                waitingDialog.hide();
                $('#searchWordBody').html(data.responseText);
            },
            dataType: "html"
        });
    }
</script>


{% endblock %}